<footer id="footer">
    <div class="container text-center text-xl-start">
        <div class="row">
            <div class="col-12 col-xl-8">
                <img width="220" src="assets/logo-jb-colour-w-white-slogan.svg" alt="Just Beer">
                <p class="m-3">{{ description }}</p>
            </div>
            <div class="col-12 col-xl-4 mt-5 my-xl-4 d-flex flex-column flex-xl-row justify-content-center">
                <div class="col-12 col-xl-6">
                    <h5>Stay connected</h5>
                    <div class="list-icons">
                        <a href="https://www.facebook.com/JustBeerApp" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://twitter.com/JustBeerApp" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                        <a href="https://www.instagram.com/justbeerapp" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-12 col-xl-6 mt-5 mt-xl-0">
                    <h5>Get the App</h5>
                    <div class="list-icons">
                        <a href="https://play.google.com/store/apps/details?id=com.mobilityquotient.justbeer" target="_blank"><i class="fa-brands fa-google-play"></i></a>
                        <a href="https://itunes.apple.com/us/app/just-beer/id752672917" target="_blank"><i class="fa-brands fa-apple"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="signature">
        <span class="small">Brewed with ❤️ by <a href="https://mobilityquotient.com/" title="Leveraging Technology, Strategy & Design to Transform Your Brand" target="_blank">Mobility Quotient</a></span>
    </div>
</footer>